$primary-background-color: #99D699;
$secondary-background-color: #F0F0F0;
$primary-text-color: #444;
$secondary-text-color: #777;
$primary-link-color: #2E6AA0;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;
$fieldset-color: lighten($secondary-background-color, 50%);
$flash-danger-color: #FFA715
